<div class="container">
  <div class="row">
    <%= render 'books/left', user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to image_tag(@book.user.get_profile_image(100, 100)), user_path(@book.user_id) %><br>
              <%= link_to @book.user.name, user_path(@book.user_id) %><br>
            </td>
            <td><%= link_to @book.title, book_path %></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger" %></td>
            <% end %>
            <td>
                <% if @book.favorited_by?(current_user) %>
                  <p>
                    <%= link_to book_favorites_path(@book.id), method: :delete, class: "text-danger" do %>
                      <i class="fa-solid fa-heart"></i>
                      <%= @book.favorites.count %>
                    <% end %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to book_favorites_path(@book.id), method: :post do %>
                      <i class="fa-solid fa-heart"></i>
                      <%= @book.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
              </td>
              <td>
                コメント数:<%= @book.book_comments.count %>
              </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <% @book.book_comments.each do |book_comment| %>
            <tr>
              <td>
                <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
                <%= link_to book_comment.user.name, user_path(book_comment.user_id) %>
              </td>
              <td><%= book_comment.comment %></td>
              <% if book_comment.user == current_user %>
                <td><%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class:"btn btn-sm btn-danger" %></td>
              <% end %>
            </tr>
        </tbody>
      </table>
      <% end %>
      <%= form_with model: [@book, @book_comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, class:"form-control book_comment", rows:5 %>
          <%= f.submit "送信する" %>
        </div>
      <% end %>
    </div>
  </div>
</div>